option_settings:
  # CloudWatch custom metrics
  aws:elasticbeanstalk:cloudwatch:logs:health:
    HealthStreamingEnabled: true
    DeleteOnTerminate: false
    RetentionInDays: 7

files:
  "/opt/aws/amazon-cloudwatch-agent/etc/config.json":
    mode: "000644"
    owner: root
    group: root
    content: |
      {
        "metrics": {
          "namespace": "BHService",
          "metrics_collected": {
            "mem": {
              "measurement": [
                {
                  "name": "mem_used_percent",
                  "rename": "MemoryUtilization",
                  "unit": "Percent"
                }
              ],
              "metrics_collection_interval": 60
            },
            "disk": {
              "measurement": [
                {
                  "name": "used_percent",
                  "rename": "DiskUtilization",
                  "unit": "Percent"
                }
              ],
              "metrics_collection_interval": 60,
              "resources": [
                "/"
              ]
            }
          }
        }
      }

